.btn {
  padding: 10px 5px;
  align-self: center;
  margin: 0 auto;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  color: #626262;
  background: none;
  border: 1px #626262 solid;
}
