.btn {

  align-self: center;
  margin: 44px auto 90px auto;
  padding: 17px 33px;

  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  color: #626262;
  background: none;
  border: 1px #626262 solid;
}
