.btn {

  align-self: center;
  margin: 44px auto 95px auto;
  padding: 17px 33px;

  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  color: $color-gray;
  background: none;
  border: 1px $color-gray solid;

  &:hover {
    color: $color-blue;
    border: 1px $color-blue solid;
  }
}
