.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__figure {
    margin-right: 35px;
  }

  &__img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  &__self {
    width: 100%;
  }

  &__user-title {
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 700;

  }

  &__text {
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
  }

  &__reply-btn {
    @include text-accent;
    border: none;
    background: none;
  }

  &__textarea {
    @include text-accent;
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
}
