.page-footer {
  background-color: #f0f0f0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    width: $width-desktop;
    margin: 0 auto;

    padding-top: 20px;
    padding-bottom: 28px;
    padding-left: 150px;
    padding-right: 70px;
  }
}
