.page-nav {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $width-tablet) {
      padding-top: 17px;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  &__item {

    @media (min-width: $width-tablet) {
      margin-right: 108px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #afafaf;
  }
}
