.page-header {
  @include site-wrapper;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @include padding-narrow;

  padding-top: 53px;
  padding-bottom: 58px;

  &__logo {
    font-family: $font-logo;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 6px;
    color: $color-black;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus {
      color: $color-blue;
    }

    &:active {
      color: $color-gray-transparent;
    }
  }
}
