.page-footer {
  @include gray-accent;

  &__content {
    @include site-wrapper;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 150px;
    padding-right: 70px;
  }
}
