.post {

  @media (min-width: $width-desktop) {

    &__figure--wide {
      @include padding-narrow;
    }

    &__separator {
      @include padding-wide;
    }
  }

  &__category {
    @include text-accent;
  }

  &__title {
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
    color: #626262;

    &--suggestions {
      font-size: 20px;
    }
  }

  &__text {
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    color: #626262;
  }

  &__comment-btn {
    @include text-accent;
    border: none;
    background: none;
    padding: 0;
  }
}
