.share {
  @include padding-wide;
  @include site-wrapper;
  margin-bottom: 75px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--text {
    @include text-accent;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    text-decoration: none;
    cursor: pointer;

    &--facebook {
      padding-top: 5px;
    }

    &--twitter {
      padding-top: 8px;
      padding-right: 5px;
    }

    &--pocket {
      padding-top: 5px;
    }

    &--tumbler {
      padding-top: 5px;
    }

    &--pinterest {
      padding-top: 5px;
    }
  }

  &__icon {
    color: #b4ad9e;
    font-size: 15px;

    &:hover {
      color: $color-blue;
    }
  }
}
