.sign-up {
  @include gray-accent;
  margin-bottom: 102px;
  padding-top: 27px;
  padding-bottom: 31px;

  &__caption {
    margin-bottom: 80px;
    text-align: center;
    font-family: $font;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.9px;
  }
}
