.sign-up {
  background-color: #f0f0f0;
  margin-bottom: 102px;
  padding-top: 59px;
  padding-bottom: 31px;

  &__caption {
    margin-bottom: 80px;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.9px;
  }


}
