.social {

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    text-decoration: none;
    cursor: pointer;

    &:hover {

    }

    &:active {

    }
}

  &__icon {
    color: #626262;
    font-size: 15px;
  }
}
