.social {

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    text-decoration: none;
    cursor: pointer;

    &--facebook {
      padding-top: 5px;
    }

    &--twitter {
      padding-top: 8px;
      padding-right: 5px;
    }

    &--instagram {
      padding-top: 9px;
      padding-right: 2px;
    }
  }

  &__icon {
    color: $color-gray;
    font-size: 15px;

    &:hover {
      color: $color-blue;
    }
  }
}
