@mixin padding-narrow {
  padding-left: 70px;
  padding-right: 70px;
}

@mixin padding-wide {
  padding-left: 150px;
  padding-right: 150px;
}

@mixin gray-accent {
  min-width: 1200px;
  background-color: #f0f0f0;
}

@mixin site-wrapper {
  margin: 0 auto;
  width: 1200px;
}

@mixin text-accent {
  font-family: $font-accent;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}

@mixin text-regular {
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
  color: $color-gray;
}
