@mixin padding-narrow {
  padding-left: 70px;
  padding-right: 70px;
}

@mixin padding-wide {
  padding-left: 150px;
  padding-right: 150px;
}

@mixin site-wrapper {
    width: $site-width;
}

@mixin text-accent {
  font-family: $font-accent;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}

@mixin text-regular {
  font-family: $font-regular;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}
