// font
$font: "Playfair Display", courier, times;
$font-accent: "Ubuntu", arial, sans-serif;
$font-logo: "Inconsolata", courier, arial;

//colors

$color-black: #000;
$color-white: #fff;
$color-blue: #3594dd;
$color-gray: #626262;
$color-gray-transparent: rgba(98, 98, 98, 0.3);
$color-grayish: #afafaf;




