// font
$font: "Playfair Display", courier, times;
$font-accent: "Ubuntu", arial, sans-serif;

// vueport width variables:
$site-width: 1200px;

//colors

$color-black: #000000;
$color-white: #fff;




